.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  padding: 0.4rem 1.2rem;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.4);
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.active {
  background: rgba(255,255,255,0.25);
}
