.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.button {
  padding: 0.5rem 1.4rem;
  font-size: 1.3rem;
  border-radius: 12px;
  border: 2px solid rgba(255,255,255,0.5);
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.active {
  background: rgba(255,255,255,0.3);
}
