services:
  postgres:
    image: postgres:15-alpine
    container_name: hackathon_db
    environment:
      POSTGRES_USER: hackathon
      POSTGRES_PASSWORD: misis2024
      POSTGRES_DB: hackathon_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: hackathon_backend
    ports:
      - "8000:8000"
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

volumes:
  postgres_data:
