.container {
  position: relative;
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.form {
  z-index: 3;

  width: clamp(22rem, 40vw, 38rem);
  padding: 3rem 4rem;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(30px);

  box-shadow: 0 0 40px rgba(0,0,0,0.15);
}

.input {
  width: 100%;
  padding: 1rem;

  border-radius: 15px;
  border: 1px solid rgba(255,255,255,0.6);
  background: rgba(255,255,255,0.08);

  color: #fff;
  font-size: 1.4rem;

  outline: none;
  transition: 0.25s ease;
}

.input:focus {
  background: rgba(255,255,255,0.18);
  border-color: #fff;
}

.button {
  width: 100%;
  margin-top: 0.8rem;

  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;

  background: rgba(255,255,255,0.12);
  border: 2px solid rgba(255,255,255,0.8);
  color: #fff;

  border-radius: 14px;
  cursor: pointer;

  transition: 0.25s ease;
}

.button:hover {
  background: rgba(255,255,255,0.25);
  transform: scale(1.03);
}


@media (max-width: 768px) {
  .form {
    padding: 2rem;
    width: 80%;
    border-radius: 20px;
  }

  .bgText {
    font-size: 30rem;
    margin-left: 0;
    margin-top: 5vh;
  }
}

@media (max-width: 480px) {
  .form {
    width: 90%;
    padding: 1.7rem;
    gap: 1rem;
  }

  .input {
    font-size: 1.15rem;
    padding: 0.8rem;
  }

  .button {
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  .bgText {
    font-size: 22rem;
    margin-top: 12vh;
    opacity: 0.06;
  }
}
