.page {
  width: 100%;
  min-height: 100vh;

  padding: 4rem 5rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.title {
  font-size: clamp(3rem, 6vw, 5rem);
  font-weight: 800;
  color: #fff;
  margin: 0;
  margin-bottom: 1rem;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem 6rem;
  align-items: start;
}

.left label,
.right label {
  display: block;
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
  font-weight: 400;
}

.left input,
.right input {
  width: 100%;
  max-width: 22rem;

  padding: 0.9rem 1rem;
  font-size: 1.3rem;

  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.6);

  background: rgba(255,255,255,0.12);
  color: #fff;

  outline: none;
  transition: 0.25s ease;
  margin-bottom: 1.4rem;
}

.left input:focus,
.right input:focus {
  background: rgba(255,255,255,0.2);
}

textarea {
  width: 100%;
  height: 18rem;

  resize: none;

  padding: 1rem;
  font-size: 1.3rem;

  border-radius: 14px;
  border: 1px solid rgba(255,255,255,0.6);
  background: rgba(255,255,255,0.12);
  outline: none;
  color: #fff;

  transition: 0.25s ease;
}

textarea:focus {
  background: rgba(255,255,255,0.2);
}

.save {
  align-self: flex-start;

  margin-top: 1rem;

  padding: 0.6rem 1.4rem;

  font-size: 1.3rem;
  color: #fff;

  background: rgba(255,255,255,0.15);
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 12px;

  cursor: pointer;
  transition: 0.25s ease;
}

.save:hover {
  transform: scale(1.04);
  background: rgba(255,255,255,0.25);
}

@media (max-width: 1024px) {
  .page {
    padding: 3rem 2.5rem;
  }

  .form {
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .save {
    align-self: flex-start;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 2rem 1.5rem;
  }

  .title {
    font-size: 2.7rem;
  }

  .left input,
  .right input {
    width: 100%;
    max-width: none;
    font-size: 1.1rem;
    padding: 0.8rem;
  }

  textarea {
    height: 14rem;
    font-size: 1.1rem;
  }

  label {
    font-size: 1.2rem;
  }

  .save {
    font-size: 1.1rem;
    padding: 0.5rem 1.2rem;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 2.3rem;
  }

  textarea {
    height: 12rem;
  }

  .save {
    font-size: 1rem;
  }
}
