.wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(135deg, #5b218f, #1d0a2b);
  position: relative;
  overflow-x: hidden;
  color: #fff;
}

.wrapper > * {
  animation: fadeIn 0.6s ease forwards;
  opacity: 0;
}

.dotsBackground {
  position: absolute;
  inset: 0;
  z-index: 1;

  background-image: radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 18px 18px;
  pointer-events: none;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
