.App {
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
  border: 2px solid #646cff;
  border-radius: 8px;
  margin: 2em 0;
}

.read-the-docs {
  color: #888;
}